.B {
  background-color: black;
}

.W {
  background-color: white;
}

.square {
  height: 100px;
  width:100px;
}

.chessboard {
  border: 2px solid black;
  width:fit-content
}

.title {
  width: fit-content !important
}

.piece {
  height: 100px;
  width:100px;
}